---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <meta http-equiv="refresh" content="0; url=/is" />
  <script type="text/javascript">
    window.location.href = "/is";
  </script>
  <p><a href="/is">Proceed to landing page</a></p>
</Layout>
