---
import Layout from '../layouts/Layout.astro';
---


<!-- TODO refactor with a more astro-like redirect -->
<Layout>
  <meta http-equiv="refresh" content="0; url=/is" />
  <script type="text/javascript">
    window.location.href = "/is";
  </script>
  <p><a href="/is">Proceed to landing page</a></p>
</Layout>
